<h1>Public Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe.id) %>
      <p>Description: <%= recipe.description %></p>
      <p>By: <%= recipe.user.name %></p>
      <%= button_to "Remove", recipe, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this recipe?" } %>
    </li>
  <% end %>
</ul>